/* for global css */
.blinking-text {
    animation: blink 1s infinite;
}
.button {
    border: none;
    background: none;
}
.input-container {
    background-color: rgb(188, 188, 188);
    border-radius: 20px;
    position: relative;
    padding-bottom: 75px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    overflow: hidden;
}
.convert-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 85%;
    border-radius: 0px;
    background-color:gray;
    border: 1px solid grey;
    border-radius: 0px 0px 20px 20px;
    color: white;
}
.amount {
    max-width: 600px;
}
@media screen and (min-width: 991px) {
    .amount-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 25%;
    }
}

.select-container {
    max-width: 200px;
    min-width: 100px;
}
@keyframes blink {
    0% {
        color: red;
    }
    50% {
        color: rgb(128, 128, 128);
    }
    100% {
        color: red;
    }
}